.search {
  margin: 3rem 1rem 2rem;
  position: relative;
  width: 30rem;
  margin: 3rem auto;
  input {
    border: none;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    padding: 0.75rem 5rem 0.75rem 0.75rem;
    width: 25rem;
    max-width: 25rem;
    position: relative;
  }
  button {
    position: absolute;
    left: 21.25rem;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: rgba(0, 182, 0, 0.781);
    color: #fff;
    margin: 0 1rem 2rem;
    width: 5rem;
    top: 4px;
  }
}
